.login-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid #4771fa;
  background-color: #b9c9ff;
  padding: 0.5rem;
  border-radius: 3px;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background-color: #ffb0b0;
  color: red;
}

@media (min-width: 768px) {
  .user-message {
    width: 30rem;
  }
}
