<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="../styles/output.css" rel="stylesheet" />
  <link href="../styles/input.css" rel="stylesheet" />
</head>

<body>
  <div class="b background w-full h-full relative flex flex-col items-center">
    <header class="header absolute top-0 left-0 right-0 py-4 w-full flex justify-center z-50">
      <nav class="flex w-[75rem] justify-between items-center">
        <a href="./index.html" class="flex gap-2 items-center">
          <img class="h-[3rem]" src="../assets/images/logo.png" />
          <div class="flex flex-col justify-between">
            <h1 class="font-bold text-[1.6rem]">SolveBox</h1>
            <div class="text-gray-500 text-[0.6rem] flex justify-between items-center">
              <p>ASSISTANCE</p>
              <p>&</p>
              <p>INSIGHTS</p>
            </div>
          </div>
        </a>
        <section>
          <ul class="flex gap-6 font-semibold">
            <a href="../views/about.html" class="navbar-text relative transition-all cursor-pointer underline-parent">
              About
              <div class="underline-child bg1"></div>
            </a>
            <a href="../views/categories.html"
              class="navbar-text relative transition-all cursor-pointer underline-parent">
              Categories
              <div class="underline-child bg1"></div>
            </a><a href="../views/subscribe.html"
              class="navbar-text relative transition-all cursor-pointer underline-parent">
              Subscribe
              <div class="underline-child bg1"></div>
            </a><a href="../views/contactus.html"
              class="curr-active navbar-text relative transition-all cursor-pointer underline-parent">
              Contact Us
              <div class="bg1 underline-hovered"></div>
            </a><a href="../views/credits.html"
              class="navbar-text relative transition-all cursor-pointer underline-parent">
              Credits
              <div class="underline-child bg1"></div>
            </a>
          </ul>
        </section>
        <section class="flex items-center justify-between gap-4">
          <div class="relative w-[7rem] flex justify-center z-50 theme-js font-semibold">
            <div
              class="hover:text1 py-2 px-4 rounded-[1rem] w-full transition-all cursor-pointer text-center underline-parent relative">
              Themes
              <div class="underline-child bg1"></div>
            </div>
            <ul
              class="background absolute shadow-xl py-4 px-1 rounded-[1rem] text-gray-300 top-full theme-container-js inactive transition-all">
              <div class="bg1 right-0 top-2 rounded-full p-1 text-[0.5rem] absolute">RECOMMENDED</div>
              <li class="py-2 px-4 rounded-sm hover:bg-[#1b1825] cursor-pointer theme-btn" data-theme="dark">
                Dark
              </li>
              <li class="py-2 px-4 rounded-sm border-t-[0.1rem] cursor-pointer theme-btn" data-theme="light">
                Light
              </li>
              <li class="py-2 px-4 rounded-sm border-t-[0.1rem] cursor-pointer theme-btn" data-theme="night">
                Night
              </li>
              <li class="py-2 px-4 rounded-sm border-t-[0.1rem] cursor-pointer theme-btn" data-theme="void">
                Void
              </li>
              <li class="py-2 px-4 rounded-sm border-t-[0.1rem] cursor-pointer theme-btn" data-theme="earthy">
                Earthy
              </li>
              <li class="py-2 px-4 rounded-sm border-t-[0.1rem] cursor-pointer theme-btn" data-theme="solar-light">
                Solarized Light
              </li>
              <li class="py-2 px-4 rounded-sm border-t-[0.1rem] cursor-pointer theme-btn" data-theme="solar-dark">
                Solarized dark
              </li>
              <li class="py-2 px-4 rounded-sm border-t-[0.1rem] cursor-pointer theme-btn" data-theme="pastel">
                Pastel
              </li>
              <li class="py-2 px-4 rounded-sm border-t-[0.1rem] cursor-pointer theme-btn" data-theme="cyber">
                Cyberpunk Glow
              </li>
              <li class="py-2 px-4 rounded-sm border-t-[0.1rem] cursor-pointer theme-btn" data-theme="twilight">
                Twilight
              </li>
              <li class="py-2 px-4 rounded-sm border-t-[0.1rem] cursor-pointer theme-btn" data-theme="autumn">
                Autumn Forest
              </li>
              <li class="py-2 px-4 rounded-sm border-t-[0.1rem] cursor-pointer theme-btn" data-theme="ocean">
                Ocean Breeze
              </li>
              <li class="py-2 px-4 rounded-sm border-t-[0.1rem] cursor-pointer theme-btn" data-theme="mono">
                Monochrome Minimal
              </li>
              <li class="py-2 px-4 rounded-sm border-t-[0.1rem] cursor-pointer theme-btn" data-theme="retro">
                Retro Sunset
              </li>
            </ul>
          </div>
          <div class="flex items-center gap-4" id="user-information"></div>
        </section>
      </nav>
    </header>
    <section class="w-full flex justify-center relative">
      <div class="w-[75rem]">
        <div class="relative z-40 mt-20 h-[15rem] flex justify-between items-center">
          <div class="w-1/2">
            <h1 class="text-[3rem] font-bold leading-[3.5rem] ">
              Get in <span class="text1">Touch</span>
            </h1>
            <p class="text-[0.5rem] tracking-[0.1rem] pt-8 pb-4 noto text3">
              <a class="hover:underline" href="./index.html"> HOME</a>
              <span>></span>
              <span class="underline font-semibold">CONTACT US</span>
            </p>
          </div>
          <div class="w-1/2">
            <p class="text-gray-400 font-semibold text-lg">
              Have questions? We're here to help! Contact us for support, feedback, or
              inquiries. We'd love to hear from you.
            </p>
          </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"
          class="svg1 absolute top-[7.5rem] left-[38rem] z-0" viewBox="0 0 480 480">
          <path d="M480 120 360 0 240 120 120 0 0 120l120 120L0 360l120 120 120-120 120 120 120-120-120-120 120-120z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" width="200" height="200"
          class="svg2 absolute top-20 right-80 z-0">
          <path d="M320 160a160 160 0 1 0-320 0v320h160V160h160ZM320 0v320H160a160 160 0 1 0 320 0V0H320Z"></path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" width="200" height="200"
          class="svg1 absolute bottom-[1.6rem] right-[50rem] z-0">
          <path
            d="M120 120h120v120H120zM0 240h120v120H0zM120 360h120v120H120zM0 0h120v120H0zM360 120h120v120H360zM240 240h120v120H240zM360 360h120v120H360zM240 0h120v120H240z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" width="200" height="200"
          class="svg1 absolute bottom-[1.6rem] left-10">
          <path
            d="M480 240H240V0a240 240 0 0 1 240 240ZM240 480H0V240a240 240 0 0 1 240 240ZM480 480H240V240a240 240 0 0 1 240 240ZM240 240H0V0a240 240 0 0 1 240 240Z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" width="200" height="200"
          class="svg1 absolute bottom-[1.6rem] right-10">
          <path
            d="M480 210H352l110.9-64-30-52L322 158l64-110.8-52-30L270 128V0h-60v128L146 17.2l-52 30L158 158 47.2 94l-30 52L128 210H0v60h128L17.2 334l30 52L158 322 94 432.9l52 30L210 352v128h60V352l64 110.9 52-30L322 322l110.9 64 30-52L352 270h128v-60z">
          </path>
        </svg>
      </div>
    </section>

    <section class="bg-[#e3ff80] w-full flex justify-center items-center py-6 text-center">
      <div class="w-[75rem]">
        <ul class="flex justify-between w-full">
          <li class="flex items-center w-1/4 font-thin text-gray-500 gap-2">
            <img class="w-20 h-20" src="../assets/svgs/what.svg" />
            <div class="flex flex-col">
              <h1 class="font-bold text-2xl text-black">What to expect?</h1>
              <p class="text-gray-700">SolveBox brigs experts together.</p>
            </div>
          </li>
          <li class="flex items-center w-1/5 font-thin text-gray-500 gap-2">
            <img class="w-20 h-20" src="../assets/svgs/light.svg" />
            <p>Engaging solutions and feedback</p>
          </li>
          <li class="flex items-center w-1/5 font-thin text-gray-500 gap-2">
            <img class="w-20 h-20" src="../assets/svgs/time.svg" />
            <p>Quick and simple solutions</p>
          </li>
          <li class="flex items-center w-1/5 font-thin text-gray-500 gap-2">
            <img class="w-20 h-20" src="../assets/svgs/stats.svg" />
            <p>Overwhelmingly good reviews</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="w-full flex justify-center">
      <div class="w-[75rem] py-36">
        <h1 class="text-[3rem] leading-[3rem] font-bold text-center">
          Places <span class="text1">where</span> you can <span class="text2">find</span> us
        </h1>
        <p class="text-gray-300 text-lg text-center py-8 font-semibold">
          Feel free to pick your option and help us help you!
        </p>
        <div class="w-full h-[40rem] flex flex-col items-center gap-20 mt-16">
          <div class="w-full h-full flex gap-20">
            <div class="bg-white h-full w-1/2"></div>
            <div class="bg-white h-full w-1/2"></div>
          </div>
          <div class="w-full h-full flex gap-20">
            <div class="bg-white h-full w-1/2"></div>
            <div class="bg-white h-full w-1/2"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg2 half-polygon-north w-full flex justify-center py-40">
      <div class="w-[75rem] flex gap-40">
        <div class="w-1/2">
          <p class="text-[0.7rem] tracking-[0.1rem] py-8 noto text1">
            JOIN OUR COMMUNITY
          </p>
          <h1 class="text-[2.5rem] leading-[3rem] font-bold">
            Master Puzzles <span class="text1">with Us</span>. <br />
            Sharpen Your Mind<span class="text2">!</span>
          </h1>
          <p class="my-6 text-xl text-semibold">
            Have questions? Explore our FAQs.
          </p>
          <p class="text-gray-700 font-semibold">
            Find answers to common questions about our puzzles, challenges, and membership. Need more help? Fill out the
            form to connect with us.
          </p>
          <div class="w-full mt-8 flex flex-col">
            <div class="drop drop-disabled">
              <div class="py-4 pr-4 cursor-pointer flex justify-between text-xl border-b-[0.1rem] border-[#75e1d9]">
                <p>How can I start solving puzzles?</p>
                <p class="text-[2rem] plus">+</p>
              </div>
              <div class="toggle-text overflow-hidden">
                <p class="text-gray-700 italic py-4 text-lg">
                  Sign up to access our puzzles. Explore challenges designed for all skill levels.
                </p>
              </div>
            </div>
            <div class="drop drop-disabled">
              <div class="py-4 pr-4 cursor-pointer flex justify-between text-xl border-b-[0.1rem] border-[#75e1d9]">
                <p>Are the puzzles free?</p>
                <p class="text-[2rem] plus">+</p>
              </div>
              <div class="toggle-text overflow-hidden">
                <p class="text-gray-700 italic py-4 text-lg">
                  Yes, most of our puzzles are free. Premium challenges require a membership.
                </p>
              </div>
            </div>
            <div class="drop drop-disabled transition-all">
              <div class="py-4 pr-4 cursor-pointer flex justify-between text-xl border-b-[0.1rem] border-[#75e1d9]">
                <p>What types of puzzles do you offer?</p>
                <p class="text-[2rem] plus transition-all">+</p>
              </div>
              <div class="toggle-text overflow-hidden transition-all">
                <p class="text-gray-700 italic py-4 text-lg">
                  We offer a variety of puzzles including Sudoku, Rubik's cube challenges, logic puzzles, and more.
                </p>
              </div>
            </div>
          </div>
        </div>
        <form id="news-form" action="submit" class="bg-[#242234] w-1/2 p-16 flex flex-col gap-16">
          <p class="text-3xl font-semibold text-center">
            Ready to challenge your mind? Join us today!
          </p>
          <div class="flex flex-col gap-4">
            <input id="name" name="name" class="rounded-lg border-2 border-[#262432] px-4 py-6 w-full bg-[#262432]"
              placeholder="Your Name*" type="text" />
            <input id="number" name="number" class="rounded-lg border-2 border-[#262432] px-4 py-6 w-full bg-[#262432]"
              type="tel" placeholder="Your Number*" />
            <input id="email" name="email" class="rounded-lg border-2 border-[#262432] px-4 py-6 w-full bg-[#262432]"
              type="email" placeholder="Your Email*" />
          </div>
          <button
            class="flex items-center justify-center gap-4 w-full text-center bg1 py-4 text-black rounded-[2rem] hover:rounded-none transition-all">
            Subscribe
          </button>
        </form>
      </div>
    </section>
    <section class="bg3 half-polygon-south w-full flex justify-center py-40">
      <div class="w-[75rem] flex gap-40">
        <form id="review-form" action="submit"
          class="bg-white mt-20 text-black p-16 w-1/2 flex flex-col justify-between">
          <div class="flex w-full justify-between flex-col border-b-2 pb-4">
            <p class="font-semibold pb-2">Name</p>
            <div class="flex justify-between w-full gap-10">
              <div class="flex flex-col w-full">
                <input name="review-first-name" class="w-full py-2 px-4 outline-none border-2 rounded-lg" type=""
                  id="review-first-name" placeholder="John" />
                <label class="text-xs text-gray-400" for="review-first-name">First Name*</label>
              </div>
              <div class="flex flex-col w-full">
                <input name="review-last-name" class="w-full py-2 px-4 outline-none border-2 rounded-lg" type="text"
                  id="review-last-name" placeholder="Doe" />
                <label class="text-xs text-gray-400" for="review-last-name">Last Name*</label>
              </div>
            </div>
          </div>
          <div class="flex w-full justify-between flex-col pt-4">
            <div class="flex justify-between w-full gap-10 border-b-2 pb-4">
              <div class="flex flex-col w-full">
                <p class="font-semibold pb-2">Email</p>
                <input id="review-email" name="review-email" class="w-full py-2 px-4 outline-none border-2 rounded-lg"
                  type="email" placeholder="iamagenius@puzzler.com" />
                <label class="text-xs text-gray-400" for="first-name">Please enter a valid email address</label>
              </div>
              <div class="flex flex-col w-full">
                <p class="font-semibold pb-2">Number</p>
                <input id="review-number" name="review-number" class="w-full py-2 px-4 outline-none border-2 rounded-lg"
                  type="tel" placeholder="+381 000 000 000" />
                <label class="text-xs text-gray-400" for="last-name">Please enter a valid number</label>
              </div>
            </div>
          </div>
          <div class="flex w-full justify-between flex-col pt-4 h-1/2">
            <div class="flex w-full flex-col h-full">
              <label for="review" class="font-semibold pb-2">Give us your feedback!</label>
              <textarea name="review" id="review" placeholder="Wow! Such amazingness and professionalism!"
                class="w-full py-2 px-4 outline-none border-2 rounded-lg max-h-28 min-h-28"></textarea>
            </div>
          </div>
          <button 6 2
            class="flex items-center mt-10 w-full text-center bg2 py-4 text-black rounded-[2rem] hover:rounded-none transition-all gap-4 justify-center">
            Submit
          </button>
        </form>
        <div class="w-1/2">
          <p class="text-[0.7rem] tracking-[0.1rem] py-8 noto text-black">
            SHARE YOUR EXPERIENCE
          </p>
          <h1 class="text-[2.5rem] leading-[3rem] font-bold">
            Help Us Improve <span class="text1">Our Website</span>. <br />
            Your Feedback <span class="text2">Matters!</span>
          </h1>
          <p class="my-6 text-xl text-semibold">
            We value your opinion. Let us know what you think!
          </p>
          <p class="text-gray-700 font-semibold">
            Share your thoughts on our website, puzzles, and community. Your feedback helps us enhance your experience
            and
            provide better challenges.
          </p>
          <p class="mt-6 text-lg text-gray-700">
            Whether it’s about the design, functionality, or puzzle variety, every comment counts. Use the form below to
            leave
            your review.
          </p>
          <p class="mt-4 text-lg text-gray-700 italic">
            Thank you for being a part of our puzzle community!
          </p>
        </div>

      </div>
    </section>
    <footer class="w-full flex justify-center pt-40">
      <div class="w-[75rem]">
        <h1 class="text-[3rem] leading-[3rem] font-bold text-center">
          A vibrant and
          <span class="text3">inclusive</span> community of
          <span class="text2">solvers</span> and
          <span class="text1">challengers</span><span class="text3">.</span>
        </h1>
        <p class="text-3xl font-bold text-center my-8">
          Learn <span class="text1 underline">more</span> now!
        </p>
        <div class="w-full flex justify-between my-8">
          <img class="w-[14%] h-44 object-cover"
            src="https://images.unsplash.com/photo-1605902394069-ff2ae2430e62?q=80&w=2531&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
          <img class="w-[14%] h-44 object-cover"
            src="https://plus.unsplash.com/premium_photo-1723662084148-2cd2357705ba?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHV6emxlfGVufDB8fDB8fHww" />
          <img class="w-[14%] h-44 object-cover"
            src="https://images.unsplash.com/photo-1597400473366-371a80b251eb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHV6emxlfGVufDB8fDB8fHww" />
          <img class="w-[14%] h-44 object-cover"
            src="https://plus.unsplash.com/premium_photo-1694822449585-a2444c288b96?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cHV6emxlfGVufDB8fDB8fHww" />
          <img class="w-[14%] h-44 object-cover"
            src="https://plus.unsplash.com/premium_photo-1700675175408-5fe0d5851e57?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHB1enpsZXxlbnwwfHwwfHx8MA%3D%3D" />
          <img class="w-[14%] h-44 object-cover object-right"
            src="https://images.unsplash.com/photo-1515508268448-8d0d292bc49a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHB1enpsZXxlbnwwfHwwfHx8MA%3D%3D" />
        </div>
        <div class="w-full flex py-20 justify-between">
          <div class="w-2/5">
            <h1 class="font-semibold text-2xl">
              Technology, Design & Innovation Conference
            </h1>
            <p class="py-4 text-gray-300 text-lg text-semibold">
              We bring puzzle experts together.
            </p>
            <p class="py-4 text-gray-300 text-semibold">
              Join us at the NY Technology, Design & Innovation Conference,
              the premier gathering of visionaries on September 17-18, 2024.
              Feel free to contact us in any convenient way for more details.
            </p>
          </div>
          <div class="flex gap-20">
            <div class="flex flex-col gap-10">
              <div class="flex gap-3 h-20">
                <div class="bg-black bg-opacity-20 rounded-full p-4 flex justify-center items-center w-20">
                  <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" class="">
                    <path fill="currentColor"
                      d="M19.5 22a1.5 1.5 0 0 0 1.5-1.5V17a1.5 1.5 0 0 0-1.5-1.5c-1.17 0-2.32-.18-3.42-.55a1.51 1.51 0 0 0-1.52.37l-1.44 1.44a14.77 14.77 0 0 1-5.89-5.89l1.43-1.43c.41-.39.56-.97.38-1.53c-.36-1.09-.54-2.24-.54-3.41A1.5 1.5 0 0 0 7 3H3.5A1.5 1.5 0 0 0 2 4.5C2 14.15 9.85 22 19.5 22M3.5 4H7a.5.5 0 0 1 .5.5c0 1.28.2 2.53.59 3.72c.05.14.04.34-.12.5L6 10.68c1.65 3.23 4.07 5.65 7.31 7.32l1.95-1.97c.14-.14.33-.18.51-.13c1.2.4 2.45.6 3.73.6a.5.5 0 0 1 .5.5v3.5a.5.5 0 0 1-.5.5C10.4 21 3 13.6 3 4.5a.5.5 0 0 1 .5-.5" />
                  </svg>
                </div>
                <div class="flex flex-col justify-between">
                  <p class="text-yellow-400 tracking-[0.2rem] text-[0.7rem] font-semibold">
                    PHONE
                  </p>
                  <p class="text-lg font-semibold">+381 (063) 303 309</p>
                  <p class="text-lg font-semibold">+381 (063) 303 309</p>
                </div>
              </div>
              <div class="flex gap-3 h-20">
                <div class="bg-black bg-opacity-20 rounded-full p-4 flex justify-center items-center w-20">
                  <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" class="">
                    <path fill="currentColor"
                      d="M5 5h13a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V8a3 3 0 0 1 3-3m0 1c-.5 0-.94.17-1.28.47l7.78 5.03l7.78-5.03C18.94 6.17 18.5 6 18 6zm6.5 6.71L3.13 7.28C3.05 7.5 3 7.75 3 8v9a2 2 0 0 0 2 2h13a2 2 0 0 0 2-2V8c0-.25-.05-.5-.13-.72z" />
                  </svg>
                </div>
                <div class="flex flex-col justify-between">
                  <p class="text-yellow-400 tracking-[0.2rem] text-[0.7rem] font-semibold">
                    EMAIL
                  </p>
                  <p class="text-lg font-semibold">muricamar2004@gmail.com</p>
                  <p class="text-lg font-semibold">muricamar2004@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-10">
              <div class="flex gap-3 h-20">
                <div class="bg-black bg-opacity-20 rounded-full p-4 flex justify-center items-center w-20">
                  <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 256 256" class="">
                    <path fill="currentColor"
                      d="M154.7 142.75a36 36 0 1 0-37.4 0a63.6 63.6 0 0 0-32.5 22.85a4 4 0 0 0 6.4 4.8a56 56 0 0 1 89.6 0a4 4 0 0 0 6.4-4.8a63.65 63.65 0 0 0-32.5-22.85M108 112a28 28 0 1 1 28 28a28 28 0 0 1-28-28m100-84H64a12 12 0 0 0-12 12v28H32a4 4 0 0 0 0 8h20v48H32a4 4 0 0 0 0 8h20v48H32a4 4 0 0 0 0 8h20v28a12 12 0 0 0 12 12h144a12 12 0 0 0 12-12V40a12 12 0 0 0-12-12m4 188a4 4 0 0 1-4 4H64a4 4 0 0 1-4-4V40a4 4 0 0 1 4-4h144a4 4 0 0 1 4 4Z" />
                  </svg>
                </div>
                <div class="flex flex-col justify-between">
                  <p class="text-yellow-400 tracking-[0.2rem] text-[0.7rem] font-semibold">
                    ADDRESS
                  </p>
                  <p class="text-lg font-semibold">Serbia,</p>
                  <p class="text-lg font-semibold">Novi Pazar</p>
                </div>
              </div>
              <div class="flex gap-3 h-20">
                <div class="bg-black bg-opacity-20 rounded-full p-4 flex justify-center items-center w-20">
                  <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" class="">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5">
                      <path d="M21 8v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5M7 17v-7" />
                      <path d="M11 17v-3.25M11 10v3.75m0 0c0-3.75 6-3.75 6 0V17M7 7.01l.01-.011" />
                    </g>
                  </svg>
                </div>
                <div class="flex flex-col justify-between">
                  <p class="text-yellow-400 tracking-[0.2rem] text-[0.7rem] font-semibold">
                    LINKEDIN
                  </p>
                  <p class="text-lg font-semibold">Amar Muric</p>
                  <p class="text-lg font-semibold">Amar Muric</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full flex py-20 border-y-2 border-[#383b48]">
          <div class="w-[40%]">
            <div class="flex gap-2 items-center">
              <img class="h-[3rem]" src="../assets/images/logo.png" />
              <div class="flex flex-col justify-between">
                <h1 class="font-bold text-[1.6rem]">SolveBox</h1>
                <div class="text-gray-500 text-[0.6rem] flex justify-between items-center">
                  <p>ASSISTANCE</p>
                  <p>&</p>
                  <p>INSIGHTS</p>
                </div>
              </div>
            </div>
            <p class="my-4 text-gray-200">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
              possimus nesciunt modi corporis magni consectetur beatae sed!
              Cum, eos rem!
            </p>
          </div>
          <div class="w-[40%] flex justify-around">
            <div>
              <h1 class="font-semibold text-3xl">Navigation</h1>
              <div class="bg1 w-8 h-[0.2rem] my-3"></div>
              <ul class="flex flex-col gap-3 text-gray-200 font-semibold">
                <li>About Us</li>
                <li>Schedule</li>
                <li>Speakers</li>
                <li>Sponsors</li>
              </ul>
            </div>
            <div>
              <h1 class="font-semibold text-3xl">Support</h1>
              <div class="bg1 w-8 h-[0.2rem] my-3"></div>
              <ul class="flex flex-col gap-3 text-gray-200 font-semibold">
                <li>Pricing</li>
                <li>Help & Support</li>
                <li>Privacy Policy</li>
                <li>Contacts</li>
              </ul>
            </div>
          </div>
          <div class="w-[20%] flex flex-col justify-between">
            <h1 class="font-semibold text-3xl">Subscribe</h1>
            <input class="p-6 w-full bg-black bg-opacity-20" type="email" placeholder="Email*" />
            <button class="py-4 px-10 w-full bg1 rounded-[2rem] hover:rounded-none transition-all">
              Subscribe
            </button>
          </div>
        </div>
        <div class="flex justify-between items-center py-8">
          <span class="flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5">
                <path
                  d="M14 15.667a4.5 4.5 0 0 1-1.714.333C9.919 16 8 14.21 8 12s1.919-4 4.286-4c.61 0 1.189.119 1.714.333" />
                <path
                  d="M7 3.338A9.95 9.95 0 0 1 12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12c0-1.821.487-3.53 1.338-5" />
              </g>
            </svg>
            <p>Created by Amar</p>
          </span>
          <p>All rights Reserved</p>
        </div>
      </div>
    </footer>
  </div>
  <script type="module" src="../js/contactus/app.js"></script>
  <script type="module" src="../js/themes/app.js"></script>
</body>

</html>